{% load make_link %}
{% load bootstrap4 %}
<div class="card m-3">
  <img src="{{post.image.url}}" class="card-img-top" alt="..." data-toggle="modal" data-target="#{{post.id}}">
  <!-- <div class="card-body">
    <h5 class="card-title"></h5>
    <p class="card-text">{{post|hashtag_link|safe}}</p>
    <a href="{% url 'posts:like' post.id %}" class="d-inline-flex btn btn-outline-danger py-0 px-2 m-0 align-items-top">
      {% if user in post.likes_users.all %}
        <h2 class="m-0">♥</h2>
      {% else %}
        <h2 class="m-0">♡</h2>
      {% endif %}
    </a>
    <h6 class="d-inline-flex">{{post.likes_users.count}}명이 이 사진을 좋아합니다.</h6>
  </div> -->
</div>


<!-- 포스트모달 -->
  <div class="modal fade" id="{{post.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <img src="{{post.image.url}}" class="card-img-top" alt="...">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">
            <p class="card-text">{{post|hashtag_link|safe}}</p>
          </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body d-flex justify-content-between">
          <div>
            <a href="{% url 'posts:like' post.id %}" class="d-inline-flex btn btn-outline-danger py-0 px-2 m-0 align-items-top">
              {% if user in post.likes_users.all %}
                <h2 class="m-0">♥</h2>
              {% else %}
                <h2 class="m-0">♡</h2>
              {% endif %}
            </a>
            <h6 class="d-inline-flex">{{post.likes_users.count}}명이 이 사진을 좋아합니다.</h6>
          </div>
          <div>
            {% if user == post.user %}
              <a href="{% url 'posts:update' post.id %}" class="btn btn-outline-warning btn-sm">🖊️</a>
              <a href="{% url 'posts:delete' post.id %}" class="btn btn-outline-danger btn-sm ">❌</a>
            {% endif %}
          </div>

        </div>
        <span class="modal-footer">
          <a href="{% url 'accounts:user_page' post.user.id %}">
            {{post.user.username}}
          </a>
          <a href="{% url 'posts:follow' post.user.id %}">
            팔로우
          </a>
          ({{post.user.followers.all.count}})
        </span>
        <hr>

        <form action="{% url 'posts:create_comment' post.id %}" method="POST" class="m-2">
          {% csrf_token %}
          {% bootstrap_form form %}
          <input type="submit" value="작성" class="btn btn-secondary float-right">
        </form>
        <table class="table">
          <tbody>
          {% for comment in post.comment_set.all %}
            <tr>
              <td scope="row" class="pr-1">{{comment.user}}</td>
              <td scope="row" class="pr-0" colspan="2">{{comment.content}}</td>
              <td class="text-right pl-0">
                <a href="{% url 'posts:delete_comment' comment.id %}" class="">x</a>
              </td>
            </tr>
          {% endfor %}   
          </tbody>
        </table>
      </div>
    </div>
  </div>